{% extends "base.html" %}

{% block title %} Reliability Checker {% endblock %}



{% block content %}
<h1 align = "center">News Reliability Checker</h1>
<div class="ss-container">
    <div class="ss-left">
        <form method = 'POST'> <!-- sends it to the home page as a POST method-->
            <div>
                <p>Enter your article title here: </p>
                <textarea name="searchQuery" id = "searchQuery" class = "form-control"></textarea>
            </div>
        </br>
            <div class="ss-longerdiv">
                <p>Enter your article content here: </p>
                <textarea name="articleContent" id = "articleContent" class = "form-control ss-longertextarea"></textarea>
            </div>
        </br>
            <div align = "center">
                <button type = "submit"  class = "btn btn-primary">Check News Reliability</button>
            </div>
        </form>
    </div>
    <div class="ss-right">
        {% if results %}
        <div>
            {{ results }}
        </div>
        {% else %}
        <div>
            Awaiting an article!
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}